*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #2c3e50; /* Dark blue */
  --secondary-color: #e74c3c; /* Red */
  --background-color: #ecf0f1; /* Light gray */
  --text-color: #2c3e50; /* Dark blue */
  --button-hover-color: #c0392b; /* Darker red */
  --border-radius: 5px;
  --font-family: 'Arial', sans-serif;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction:column;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.container {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(162, 12, 12, 0.1);
  width: 100%;
  max-width: 500px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--secondary-color);
}
button {
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}
#output {
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
}